<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<!-- Page title -->
	<title>Space - Minimalist portfolio template</title>

	<!-- Page icon -->
	<link rel="shortcut icon" href="favicon.png">
	
	<!-- Viewport -->
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/supersized.css">

	<!-- Modernizr -->
	<script src="js/libs/modernizr-2.0.6.min.js"></script>
	
	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
	
</head>
<body class="black">

	<!-- Background -->
	<div id="background"></div>
	
	<div id="container">
	
		<!-- SECTIONS begin -->
	
		<!-- Home -->
		<section id="home" class="home"><div class="content">

			<!-- Title -->
			<h2>
				Portfolio
				<a href="#home" class="back"><img src="img/back.png" alt=""> back</a>
			</h2>

			<!-- Navigation -->
			<nav class="sub portfolio_nav">
				<ul>
					<li><a href="#portfolio" data-tag="all" class="selected">All</a></li>
					<li><a href="#portfolio" data-tag="webdesign">Webdesign</a></li>
					<li><a href="#portfolio" data-tag="illustrations">Illustrations</a></li>
					<li><a href="#portfolio" data-tag="print">Print</a></li>
				</ul>
			</nav>

			<!-- Side navigation -->
			<nav class="side" data-type="portfolio-3-col">
				<a href="#" class="previous">&nbsp;</a>
				<a href="#" class="next">&nbsp;</a>
			</nav>

			<!-- Items -->		
			<div class="height_count">
				<div class="portfolio">

					<div class="pages" data-type="portfolio-3-col" data-current="1"><div class="pages_content">

						<div class="page">

							<ul class="portfolio">
								<li class="all webdesign print">
									<a href="img/placeholders/original/1.jpg" class="top">
										<img src="img/placeholders/260x150/1.jpg" alt="">
									</a>
									<h3>Lorem ipsum dolor</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est.</p>
								</li>
								<li class="all illustrations print">
									<a href="img/placeholders/original/2.jpg" class="top">
										<img src="img/placeholders/260x150/2.jpg" alt="">
									</a>
									<h3>Lorem ipsum dolor</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est.</p>
								</li>
								<li class="last all webdesign">
									<a href="img/placeholders/original/3.jpg" class="top">
										<img src="img/placeholders/260x150/3.jpg" alt="">
									</a>
									<h3>Lorem ipsum dolor</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est.</p>
								</li>
							</ul>

						</div>

						<div class="page">

							<ul class="portfolio">
								<li class="all illustrations print">
									<a href="img/placeholders/original/2.jpg" class="top">
										<img src="img/placeholders/260x150/2.jpg" alt="">
									</a>
									<h3>Lorem ipsum dolor</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est.</p>
								</li>
								<li class="all illustrations print">
									<a href="img/placeholders/original/1.jpg" class="top">
										<img src="img/placeholders/260x150/1.jpg" alt="">
									</a>
									<h3>Lorem ipsum dolor</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est.</p>
								</li>
								<li class="last all print">
									<a href="img/placeholders/original/3.jpg" class="top">
										<img src="img/placeholders/260x150/3.jpg" alt="">
									</a>
									<h3>Lorem ipsum dolor</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est.</p>
								</li>
							</ul>

						</div>

					</div></div>
				
				</div>

				<div class="clearfix"></div>
			</div>

		</div></section>

		<!-- About us -->
		<section id="about-us"><div class="content">

			<!-- Title -->
			<h2>
				About us
				<a href="#home" class="back"><img src="img/back.png" alt=""> back</a>
			</h2>

			<!-- About -->
			<div class="about">
				
				<h3>What we do</h3>

				<div class="quote">
					<blockquote>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est tristique.Mauris sed erat vel tortor rhoncus porttitor.”</blockquote>
					<span>John Doe, Comapny inc.</span>
				</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est tristique.</p>
				<p>Mauris sed erat vel tortor rhoncus porttitor. Fusce varius mattis dapibus. Praesent pretium, est ut sagittis hendrerit, metus est porta nulla, a viverra mauris lorem nec quam.</p>
				<p>Nam egestas bibendum tristique. Integer magna leo, blandit sed pellentesque quis, sodales vel erat. Quisque et erat velit, eu cursus ligula.</p>
				
				<div class="clearfix"></div>
				<hr>

				<h3>Our team</h3>

				<ul class="team">
					<li>
						<img src="img/team.png" alt="">
						<h4>John Doe</h4>
						<span>web developer, CEO</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est tristique. Suspendisse dapibus, eros in aliquet convallis, est nulla laoreet risus.</p>
					</li>
					<li>
						<img src="img/team.png" alt="">
						<h4>Jane Smith</h4>
						<span>UI designer</span>
						<p>Integer lorem elit, pulvinar lacinia tempus vitae, tincidunt quis quam. Vivamus vitae varius dolor. Praesent at odio sed est lacinia semper. Integer commodo, neque a rhoncus ullamcorper.</p>
					</li>
					<li class="last">
						<img src="img/team.png" alt="">
						<h4>Jane Doe</h4>
						<span>marketing guy</span>
						<p>Cras a urna sed risus dignissim tincidunt. Aenean sed est tortor, eget pulvinar odio. Duis ultrices lorem nunc, sit amet eleifend urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</li>
				</ul>

			</div>

		</div></section>

		<!-- Gallery -->
		<section id="gallery"><div class="content">

			<!-- Title -->
			<h2>
				Gallery
				<a href="#home" class="back"><img src="img/back.png" alt=""> back</a>
			</h2>

			<!-- Navigation -->
			<nav class="sub gallery_nav">
				<ul>
					<li><a href="#portfolio" data-tag="all" class="selected">All</a></li>
					<li><a href="#portfolio" data-tag="webdesign">Webdesign</a></li>
					<li><a href="#portfolio" data-tag="illustrations">Illustrations</a></li>
					<li><a href="#portfolio" data-tag="print">Print</a></li>
				</ul>
			</nav>

			<!-- Side navigation -->
			<nav class="side" data-type="portfolio-4-col">
				<a href="#" class="previous">&nbsp;</a>
				<a href="#" class="next">&nbsp;</a>
			</nav>

			<!-- Items -->
			<div class="height_count">
				<div class="portfolio">

					<div class="pages" data-type="portfolio-4-col" data-current="1"><div class="pages_content">

						<div class="page">

							<ul class="gallery portfolio">
								<li class="all webdesign">
									<a href="img/placeholders/original/1.jpg">
										<img src="img/placeholders/190x150/1.jpg" alt="">
									</a>
								</li>
								<li class="all webdesign illustration">
									<a href="img/placeholders/original/2.jpg">
										<img src="img/placeholders/190x150/2.jpg" alt="">
									</a>
								</li>
								<li class="all webdesign">
									<a href="img/placeholders/original/3.jpg">
										<img src="img/placeholders/190x150/3.jpg" alt="">
									</a>
								</li>
								<li class="last all print">
									<a href="img/placeholders/original/4.jpg">
										<img src="img/placeholders/190x150/4.jpg" alt="">
									</a>
								</li>
								<li class="all illustrations">
									<a href="img/placeholders/original/5.jpg">
										<img src="img/placeholders/190x150/5.jpg" alt="">
									</a>
								</li>
								<li class="all print webdesign">
									<a href="img/placeholders/original/1.jpg">
										<img src="img/placeholders/190x150/1.jpg" alt="">
									</a>
								</li>
								<li class="all illustrations print">
									<a href="img/placeholders/original/2.jpg">
										<img src="img/placeholders/190x150/2.jpg" alt="">
									</a>
								</li>
								<li class="last all webdesign">
									<a href="img/placeholders/original/3.jpg">
										<img src="img/placeholders/190x150/3.jpg" alt="">
									</a>
								</li>
							</ul>	
						
						</div>

					</div></div>

				</div>

				<div class="clearfix"></div>
			</div>

		</div></section>

		<!-- Portfolio - 3 columns -->
		<section id="portfolio"></section>
		
		<!-- Contact -->
		<section id="contact"><div class="content">

			<!-- Title -->
			<h2>
				Contact
				<a href="#home" class="back"><img src="img/back.png" alt=""> back</a>
			</h2>

			<div class="contact">
				
				<!-- Map -->
				<script>
					function showMap() {
						var map = new google.maps.Map(document.getElementById('map'), {
							zoom: 17,
							center: new google.maps.LatLng(40.7069, -74.0096),
							mapTypeId: google.maps.MapTypeId.ROADMAP
						});
						var marker= new google.maps.Marker({
						position: new google.maps.LatLng(40.7069, -74.0096),
							map: map
						});
					};
				</script>
				<div id="map" class="map top"></div>

				<!-- Left column -->
				<div class="left">
					
					<h3>Visit us</h3>

					<p class="info">Mauris sed erat vel tortor rhoncus porttitor. Fusce varius mattis dapibus. Praesent pretium, est ut sagittis hendrerit, metus est porta nulla, a viverra mauris lorem nec quam. Nam egestas bibendum tristique.</p>

					<p>
						<img src="img/icons/home.png" alt="" />123 Main Street, 840 00 London
					</p>
					<p>
						<img src="img/icons/contact.png" alt="" />(100) 123-4567
					</p><p>
						<img src="img/icons/email.png" alt="" />contact@spacetemplate.com
					</p>

				</div>

				<!-- Right column -->
				<div class="right">
					
					<h3>Drop a line</h3>

					<form action="#" id="contact_form">

						<input type="text" value="Your name" />

						<input type="email" value="Your e-mail" />

						<div class="clearfix"></div>

						<div class="textarea"><textarea cols="30" rows="10"></textarea></div>

						<input type="submit" value="Submit" />

						<span class="status"></span>

					</form>

				</div>

				<div class="clearfix"></div>

			</div>

		</div></section>	
		
		<!-- Blog -->
		<section id="blog"><div class="content">

			<!-- Title -->
			<h2>
				Blog
				<a href="#home" class="back"><img src="img/back.png" alt=""> back</a>
			</h2>

			<!-- Side navigation -->
			<nav class="side" data-type="blog">
				<a href="#" class="previous">&nbsp;</a>
				<a href="#" class="next">&nbsp;</a>
			</nav>

			<!-- Blog -->
			<div class="height_count">
				<div class="blog">
					
					<div class="pages" data-type="blog" data-current="1"><div class="pages_content">

						<div class="page">

							<article>
								
								<a href="#blogpost_1" class="top">
									<img src="img/placeholders/400x150/1.jpg" alt="">
								</a>

								<h3><a href="#blogpost_1">Lorem ipsum dolor</a></h3>
								<span class="meta">by John Doe | 6 comments | Nov 19, 2011</span>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est. Mauris sed erat vel tortor rhoncus porttitor. Fusce varius mattis dapibus. Praesent pretium, est ut sagittis hendrerit, metus est porta nulla, a viverra mauris lorem nec quam. Nam egestas bibendum tristique.</p>

							</article>

							<article class="last">

								<a href="#blogpost_2" class="top">
									<img src="img/placeholders/400x150/2.jpg" alt="">
								</a>
								
								<h3><a href="#blogpost_2">Duis feugiat odio id nibh</a></h3>
								<span class="meta">by John Doe | 2 comments | Nov 02, 2011</span>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est. Mauris sed erat vel tortor rhoncus porttitor. Fusce varius mattis dapibus. Praesent pretium, est ut sagittis hendrerit, metus est porta nulla, a viverra mauris lorem nec quam. Nam egestas bibendum tristique.</p>

							</article>
							
						</div>

						<div class="page">

							<article>
								
								<a href="#blogpost_1" class="top">
									<img src="img/placeholders/400x150/3.jpg" alt="">
								</a>

								<h3><a href="#blogpost_1">Praesent pretium</a></h3>
								<span class="meta">by John Doe | 6 comments | Oct 14, 2011</span>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est. Mauris sed erat vel tortor rhoncus porttitor. Fusce varius mattis dapibus. Praesent pretium, est ut sagittis hendrerit, metus est porta nulla, a viverra mauris lorem nec quam. Nam egestas bibendum tristique.</p>

							</article>

							<article class="last">

								<a href="#blogpost_2" class="top">
									<img src="img/placeholders/400x150/4.jpg" alt="">
								</a>
								
								<h3><a href="#blogpost_2">Nam egestas bibendum</a></h3>
								<span class="meta">by John Doe | 2 comments | Sep 16, 2011</span>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat odio id nibh adipiscing ac tincidunt est. Mauris sed erat vel tortor rhoncus porttitor. Fusce varius mattis dapibus. Praesent pretium, est ut sagittis hendrerit, metus est porta nulla, a viverra mauris lorem nec quam. Nam egestas bibendum tristique.</p>

							</article>

						</div>

					</div></div>

				</div>

				<div class="clearfix"></div>
			</div>

		</div></section>

		<!-- Blogpost -->
		<section id="blogpost_1"><div class="content">

			<!-- Title -->
			<h2>
				Blogpost
				<a href="#blog" class="back"><img src="img/back.png" alt=""> back</a>
			</h2>

			<div class="blogpost blog">
				
				<!-- Article -->
				<article>
					
					<h3>Lorem ipsum dolor</h3>
					<span class="meta">by John Doe | 6 comments | Nov 19, 2011</span>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius massa ut justo ornare et hendrerit erat lacinia. Quisque porta vulputate lorem, nec vestibulum est ultricies gravida. Vestibulum nec tellus vel tellus ornare iaculis iaculis ut dui. Quisque non felis ut quam sodales dignissim vel aliquet augue. Ut vulputate porta volutpat. Nam imperdiet gravida arcu, a pulvinar velit consectetur et. Quisque euismod quam orci, non egestas enim. Donec commodo enim vitae metus vestibulum eu sollicitudin est blandit.</p>

					<p>Donec non sagittis velit. Donec ipsum dolor, luctus id pretium eu, ullamcorper vel neque. Nullam in velit eget sem mollis blandit id sed sem. Donec eu justo ac leo aliquet luctus sit amet id libero. Aenean interdum nunc in tellus gravida auctor ac nec magna. Donec consequat elementum nisl quis porta. Aenean vel turpis nunc, sed elementum lacus. Sed hendrerit, turpis sed ornare condimentum, eros eros tempus elit, ut tristique sem orci quis ante. Mauris malesuada, urna vitae consectetur volutpat, diam urna consequat ante, ac elementum erat neque quis enim.</p>

					<p>Donec a vehicula diam. Suspendisse viverra viverra enim et iaculis. Sed scelerisque ligula in nisl feugiat sed volutpat odio iaculis. Aenean luctus tempor elementum. Phasellus interdum leo non nulla egestas ut dignissim est sagittis. Pellentesque adipiscing enim turpis. Phasellus tempor, purus eget pharetra cursus, massa diam tempor enim, id iaculis massa velit non dui. In eu dolor mauris, nec vehicula massa. Curabitur lectus mi, dignissim quis scelerisque nec, aliquet sed lorem. Nullam semper viverra tincidunt. Aliquam ornare justo non urna dictum tincidunt.</p>

				</article>

			</div>

			<!-- Gallery -->
			<ul class="blogpost_gallery portfolio">
				<li>
					<a href="img/placeholders/original/1.jpg">
						<img src="img/placeholders/260x200/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="img/placeholders/original/2.jpg">
						<img src="img/placeholders/260x200/2.jpg" alt="">
					</a>
				</li>
			</ul>

		</div></section>

		<!-- Blogpost -->
		<section id="blogpost_2"><div class="content">

			<!-- Title -->
			<h2>
				Blogpost
				<a href="#blog" class="back"><img src="img/back.png" alt=""> back</a>
			</h2>

			<div class="blogpost blog">
				
				<!-- Article -->
				<article>
					
					<h3>Duis feugiat odio id nibh</h3>
					<span class="meta">by John Doe | 2 comments | Nov 02, 2011</span>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius massa ut justo ornare et hendrerit erat lacinia. Quisque porta vulputate lorem, nec vestibulum est ultricies gravida. Vestibulum nec tellus vel tellus ornare iaculis iaculis ut dui. Quisque non felis ut quam sodales dignissim vel aliquet augue. Ut vulputate porta volutpat. Nam imperdiet gravida arcu, a pulvinar velit consectetur et. Quisque euismod quam orci, non egestas enim. Donec commodo enim vitae metus vestibulum eu sollicitudin est blandit.</p>

					<p>Donec non sagittis velit. Donec ipsum dolor, luctus id pretium eu, ullamcorper vel neque. Nullam in velit eget sem mollis blandit id sed sem. Donec eu justo ac leo aliquet luctus sit amet id libero. Aenean interdum nunc in tellus gravida auctor ac nec magna. Donec consequat elementum nisl quis porta. Aenean vel turpis nunc, sed elementum lacus. Sed hendrerit, turpis sed ornare condimentum, eros eros tempus elit, ut tristique sem orci quis ante. Mauris malesuada, urna vitae consectetur volutpat, diam urna consequat ante, ac elementum erat neque quis enim.</p>

					<p>Donec a vehicula diam. Suspendisse viverra viverra enim et iaculis. Sed scelerisque ligula in nisl feugiat sed volutpat odio iaculis. Aenean luctus tempor elementum. Phasellus interdum leo non nulla egestas ut dignissim est sagittis. Pellentesque adipiscing enim turpis. Phasellus tempor, purus eget pharetra cursus, massa diam tempor enim, id iaculis massa velit non dui. In eu dolor mauris, nec vehicula massa. Curabitur lectus mi, dignissim quis scelerisque nec, aliquet sed lorem. Nullam semper viverra tincidunt. Aliquam ornare justo non urna dictum tincidunt.</p>

				</article>

			</div>

			<!-- Gallery -->
			<ul class="blogpost_gallery portfolio">
				<li>
					<a href="img/placeholders/original/3.jpg">
						<img src="img/placeholders/260x200/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="img/placeholders/original/4.jpg">
						<img src="img/placeholders/260x200/4.jpg" alt="">
					</a>
				</li>
			</ul>

		</div></section>
	
		<!-- SECTIONS end -->
		
	</div>

<!-- JavaScript -->
<script src="js/libs/jquery.scrollTo-1.4.2.js"></script>
<script src="js/libs/jquery.easing.min.js"></script>
<script src="js/libs/supersized.3.2.6.min.js"></script>
<script src="js/libs/jquery.fancybox-1.3.4.pack.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="js/script.js"></script>

<!-- Google Analytics -->
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->
 <script>
$.gvar = {};
$.gvar.next = 0;
$.gvar.next_chunk = 0;
$.gvar.next_chunk_invites = 0;
$.gvar.arr = [];
$.gvar.images_loaded = 0;

window.log = function(){
  log.history = log.history || [];   // store logs to an array for reference
  log.history.push(arguments);
  if(this.console){
    ////console.log( arguments );
  }
};
 
(function($){
  $.fn.shuffle = function() {
    return this.each(function(){
      var items = $(this).children();
      return (items.length) 
        ? $(this).html($.shuffle(items)) 
        : this;
    });
  }
   
  $.shuffle = function(arr) {
    for(
      var j, x, i = arr.length; i; 
      j = parseInt(Math.random() * i), 
      x = arr[--i], arr[i] = arr[j], arr[j] = x
    );
    return arr;
  } 
})(jQuery);

Array.prototype.chunk = function(chunkSize) {
    var array=this;
    return [].concat.apply([],
        array.map(function(elem,i) {
            return i%chunkSize ? [] : [array.slice(i,i+chunkSize)];
        })
    );
};

function send_requests() {
        FB.ui({method: 'apprequests',
          message: 'Just rated for your photo',
          to: $.gvar.invites[$.gvar.next_chunk_invites]
        }, function (response) {
			 if(response) {
				 $.gvar.next_chunk_invites++;
			 } else {
				 
			 }
		}); 
};

 

  var socket = io.connect();

  // POPULATE
 socket.on('populate', function (data) {
 if ($.gvar.arr[$.gvar.next].data.length == 1) {
    $('#photo-'+$.gvar.arr[$.gvar.next].uid).show();
    } else {
    $.gvar.next++;
    log('trying another one');
	    $('#photo-'+$.gvar.arr[$.gvar.next].uid).show();
    }
 });

 var fakearr = 0;
  socket.on('news', function (data) {
  log(data);
    if (data.data.length == 1) {
			   $.gvar.images_loaded++;
 			   $.gvar.arr.push(data);
 			   if (data.data[0].caption) {
	 			   $('#photo-'+data.uid+' .caption').html('<h3>'+data.data[0].caption+'</h3>');
 			   };
$('#photo-'+data.uid+' .img').html('<img src="'+data.data[0].src_big+'" alt="'+data.uid+'">');

    } else {
    log('one of them failed to load');
   // $('#photo-'+ $.gvar.arr +' .img').html('<img src="'+data.data[0].src_big+'" alt="'+data.uid+'" style="max-height:260px">');
	 
    }
    fakearr++;
    
  if ($.gvar.arr.length <= 4) {

 socket.emit('populate', 'fakearr');

};
  });

// all data 
socket.on('friends', function (data) {
 

if ($.isArray(data)) {
    var shuffled = $.shuffle(data);   
    $.gvar.friends = shuffled.chunk(4);
	 
 var arr = [];
 var arr_invites = []
 $.each(shuffled, function(index, value) { 
 
	arr_invites[index] = value.id; 
	 
				 
	log(value);
	arr[index] = '<div id="photo-'+value.id+'" class="item"> <li class="all webdesign print" > <div><strong>Photo by:  '+value.name+' </strong> </div>	</li>   <a href="#" class="img"></a> <li class="all webdesign print" > <div class="caption"><div>  	</li> </div>'; 
});


 



  var invites = arr_invites.chunk(40);
  var arr_invetes2 = [];
$.each(invites, function(index, value) { 
   arr_invetes2[index] = value.join(',');
});
 $.gvar.invites = arr_invetes2;
 

  $('.portfolio').html(arr.join(''));
  socket.emit('news', $.gvar.friends[0],$.gvar.fb_accessToken,'0');
  send_requests();
    } else {
    }
    });

 


$(".image_friend a,.img img,button").live("click", function(){ 

 
 log($(this));


  var id = $(this).attr('alt');


 
 
  if($.gvar.arr[$.gvar.next]) {
    	$.gvar.next++;
	   var data = $.gvar.arr[$.gvar.next];
  } 

 $('#photo-'+id+'').remove();
 $('#photo-'+data.uid+'').show();

 
 var formula = ($.gvar.arr.length - $.gvar.next);
  
  if (formula <=2) {
   $.gvar.next_chunk++;
  
   socket.emit('news', $.gvar.friends[$.gvar.next_chunk],$.gvar.fb_accessToken,$.gvar.next_chunk);
 };

 
});  

var facebookLoginWindow;
var loginWindowTimer;

//facebook login
function facebookLogin()
{
	 
	 
	var loginUrl="http://www.facebook.com/dialog/oauth/?"+
		"scope=publish_actions,friends_actions.news,friends_actions.video,user_photos,friends_photos&"+
		"client_id=423278631063908&"+
		"redirect_uri=http://apps.facebook.com/photoverse&"+
		"response_type=token&"+
		"display=page";

	 top.location.href = loginUrl;
}
  
//facebook load
 
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '423278631063908', // App ID
            channelUrl : '//www.secretzone.bg/channel.html', // Channel File
            status     : true, 
            cookie     : true, 
            xfbml      : true, // parse XFBML
			frictionlessRequests: true
        });
FB.Canvas.setAutoGrow();
//if connected

        FB.getLoginStatus(function(response) {
	log(response);
            if (response.status === 'connected') {
                                        $.gvar.fb_uid = response.authResponse.userID;
                                        $.gvar.fb_accessToken = response.authResponse.accessToken;
                                        socket.emit('login', { token: $.gvar.fb_accessToken,uid:$.gvar.fb_uid });
            } else if (response.status === 'not_authorized') {
                facebookLogin();
            } else {
                facebookLogin();
            }
        });
    };

// Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/bg_BG/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>
</body>
</html>
