<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
     <title>Photo of the Day</title>
    <meta property="og:title" content="Funny Photos"/>
 <meta property="og:type" content="website"/>
    
    <meta property="og:image" content="${gvar.id}"/>
    <meta property="og:site_name" content="Photo of the Day"/>
    <meta property="fb:app_id" content="150286524724"/>
</head>
<body>
<div class="advert" align="center" style="height:90px">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0690449378357561";
/* 728x90, created 1/18/08 */
google_ad_slot = "3522810169";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://arpecop.net/pagead/show_ads.js">
</script>
</div> 
</body>
</html>