body, td, th, div, span {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
}
body {
  font-family: 'Open Sans';
  background-color: #f7f7f7;
      font-weight: 300;    
       color: #6d6d6d;
}
 
  
.header, .header span { 
 
font-family: "Open Sans";
font-weight:300;
background-color: #FFF;
 
 
  padding:10px; 
  font-size: 30px;
  text-transform: uppercase;
}
.subheader {
  font-size: 35px;
  text-align: center;
 
  font-weight:300;
  padding:10px;
 
  
   
  
  }
  .subheader .col-sm-6 {
  color:#FFF;
  
  }
  .subheader .selected {
    text-decoration:none;
    color:#FFF;
    }
    
      .subheader a {
    text-decoration:none;
    color:#CCC;
    margin-right: 15px;
    font-size: 40px;
    text-shadow: 0px 1px 1px #333;
    }
    
      .subheader a:hover {
        font-size: 43px;
      }
  .footer {
    background-color:#2ecc71;
      padding:10px;
        background-color:#34495e;
        text-align: right;
    }
    .footer a {
      text-decoration: none;
      color: #FFF;
       text-shadow: 0px;
    }
    .list-group li {
    font-weight:300;
    font-size: 30px;
    color:#3498db;
    background-color:#e74c3c; 
      
    }
    .tooltip {
      font-weight:300;
          font-size: 20px;
    }
    #controlz {margin-top: 5px;}



 #pagination {text-align: center;}
 
.well {-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
#items img {cursor: pointer;}
.well {display: none;}
#promoz div {text-align: center;}

#promoz button {
-moz-border-radius-topright: 0px;
border-top-right-radius: 0px;
-moz-border-radius-topleft: 0px;
border-top-left-radius: 0px;
font-weight: 700;

}
.input-group button {font-weight: 700;}

.thumbnail {padding-bottom: 0px; padding-left: 0px; padding-right: 0px; background-color: #ecf0f1;}

 .clear {clear: both;}

 .quote {font-size: 34px;}
 .amethist {background-color: #34495e; color: #FFF; padding:10px; text-align: center;}
  
 .arrowez {width:26px; height:13px; background-image:url(//arpecop.net/angel/iztegli/src/images/arrow.png);   margin-right: auto; margin-left: auto;}
 .form-controller {background-color:#ecf0f1; padding-bottom:15px; border-style:solid; border-width:1px; border-color:#7f8c8d; border-top:none; border-left:none; border-right:none;}
 
.bubble {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
     padding-bottom: 20px;
     padding-left:10px;
     padding-right: 30px;
    background: #e6e6e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

  .bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 49%;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #e6e6e6 transparent;
    display: block;
    width: 0;
    z-index: 10;
}

.thumbnail {min-height: 150px; cursor: pointer;}
.fixedbutton {
 text-align: right;
 position: absolute;
 width: 100%;
 margin-top: -14px;
 padding-right: 10px;
}
.chevron {
  text-align: right;
  width: 100%;
  position: absolute;
  top:30%;
  left: 10px;
 

}
 .chevron span {text-decoration: none; font-size: 35px; color:gray; cursor: pointer; }

 .fixedbutton button { 
  font-weight: 700;
  font-size: 14px;
  border-color: #3b5998;
  background-color: #3b5998;
-moz-border-radius-topright: 0;
-moz-border-radius-bottomleft: 0; 
-webkit-border-top-right-radius: 0;
-webkit-border-bottom-left-radius: 0;
}
.fixedbutton button:hover {
 border-color: #3b5998;
  background-color: #3b5998;
} 